<h1>Balayage</h1>
<h2>Brown --> Blonde</h2>
Search for your new look, find a hair salon, and book an appointment!

Send messages to your stylist (hopefully send them the style you want as a picture!)
